@{
    ViewBag.Title = "About Shelby";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I am a third-year student graduating in December 2020. I have thoroughly enjoyed my time at Ohio University and am sad it is coming to an end very soon. I have gained so many skills, experiences, and memories throughout my time at OU.
   While at Ohio University, I have been a member of ISAP organization and am also a Teacher's Assistant for the AIS department. Outside of academics, I have a twin who goes to Ohio University who I am very close with. In addition, my parents are both in the IT industry, so I have gained a lot of insight from them and their experiences.
    
   I'm looking forward to learning more about MIS and Analytics and finishing up my degree at Ohio University this semester. </p>
