@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    2545 Heather Downs Dr.<br />
    Springfield, OH 45502<br />
    <abbr title="Phone">P:</abbr>
    937.207.4364
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:shelbyburke050@gmail.com">shelbyburke050@gmail.com</a><br />
</address>